__pycache__
venv
/version2ng/backend/celeryconfig.py
/version2ng/backend/pywikibot.lwp
/version2ng/backend/apicache*
/version2ng/backend/throttle.ctrl
/version2ng/web/dist
/version2ng/web/config.js
.tox/
/version2ng/node_modules/
.vscode/
pywikibot.lwp