# Travis CI configuations
language: php
php:
  - 5.4
  - 5.5
  - 5.6
  - hhvm
install:
  - composer self-update
  - composer install
script: vendor/bin/phpunit
after_script: php vendor/bin/coveralls -v
