body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	border-left: 4px solid #a7d7f9;
	padding: 10px 50px 10px 10px;
	margin: 0 0 0 50px;
	max-width: 1000px;
}

h1, h2, h3, h4 {
	color: #555;
	margin-left: -10px;
	padding-left: 10px;
}

h1 {
	padding: 10px;
	background: #a7d7f9;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}

h2 {
	border-bottom: 2px solid #a7d7f9;
}

footer {
	margin-top: 10px;
}

footer, footer a {
	color: #888;
}

input, textarea {
	border: 1px solid #ccc;
	border-radius: 2px;
	padding: 7px;
	transition: background .1s, border .1s;
	-moz-transition: background .1s, border .1s;
	-webkit-transition: background .1s, border .1s;
	-o-transition: background .1s, border .1s;
}

input:hover, input:focus, textarea:hover, textarea:focus {
	border: 1px solid #aaa;
	background: #eee;
}

textarea {
	margin-bottom: 5px;
}

label {
	color: #555;
}

#form-wikitext input[type="submit"] {
	display: block;
}

#or {
	font-style: italic;
	color: #555;
}

.notice {
	font-style: italic;
	font-weight: bolder;
}

.optionul {
	list-style-type: none;
	padding-left: 0;
}

.Differences {
	background: #a7d9f9;
	margin: 10px 10px 10px -10px;
	padding: 10px;
	font-family: monospace;
}

.ChangeReplace del {
	color: red;
}

.ChangeReplace ins {
	color: green;
}
