-i https://pypi.org/simple/
amqp==5.0.6
aniso8601==9.0.1
attrs==21.2.0
babel==2.9.0
beautifulsoup4==4.9.3
billiard==3.6.4.0
celery==5.0.5
certifi==2021.5.30
chardet==4.0.0
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
click==7.1.2
dateparser==1.0.0
flask-cors==3.0.10
flask-restplus==0.13.0
flask==1.1.2
furl==2.1.0
idna==2.10
itsdangerous==2.0.1
jinja2==3.0.1
jsonschema==3.2.0
kombu==5.1.0
markupsafe==2.0.1
mwparserfromhell==0.6
orderedmultidict==1.0.1
prompt-toolkit==3.0.18
pymongo==3.11.3
pyrsistent==0.17.3
python-dateutil==2.8.1
pytz==2021.1
pywikibot==6.0.1
redis==3.5.3
regex==2021.4.4
requests==2.25.1
six==1.16.0
soupsieve==2.2.1 ; python_version >= '3.0'
tzlocal==2.1
urllib3==1.26.5
vine==5.0.0
wcwidth==0.2.5
werkzeug==0.16.1
