Babel==2.10.1
beautifulsoup4==4.11.1
celery==5.0.5
dateparser==1.0.0
Flask==1.1.2
Flask_Cors==3.0.10
flask_restplus==0.13.0
furl==2.1.0
mwparserfromhell==0.6
pywikibot==7.2.0
requests==2.25.1
Werkzeug==0.16.1
redis==4.3.1
pymongo==3.11.3