<!doctype html>
<html>
<head>
	{% block head %}
		<title>{% block title %}{{ msg( 'appname' ) }}{% endblock %}</title>
		{% include "head.html" %}
	{% endblock %}
</head>
<body>
	{% block header %}
		{% include "header.html" %}
	{% endblock %}

	{% block banner %}
		<div class="container">
			{{ banner() | raw }}
		</div>
	{% endblock %}

	{% block content %}{% endblock %}

	{% block footer %}
		{% include "footer.html" %}
	{% endblock %}
	{% block foot %}
		{% include "foot.html" %}
	{% endblock %}
</body>
</html>
