<footer class="container">
	<ul id="footerlinks">
		<li><a href="https://en.wikipedia.org/wiki/Wikipedia:ReFill">{{ msg( 'label-manual' ) }}</a></li>
		<li><a href="https://github.com/CurbSafeCharmer/refill">{{ msg( 'label-sourcecode' ) }}</a></li>
		<li><a href="acknowledgements.php">{{ msg( 'label-acknowledgements' ) }}</a></li>
		<li>{{ msg( 'developedby', '<a href="https://github.com/CurbSafeCharmer/refill/graphs/contributors">these contributors</a>' ) | raw }}</li>
		{{ footer() | raw }}
	</ul>
</footer>
